*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.ce-block__content {
  max-width: 900px;
}

.ce-toolbar__content {
  max-width: 900px;
}